# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"



BBPATH = "${TOPDIR}/"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/../3rdparty/meta-meson \
  ##OEROOT##/../3rdparty/meta-openembedded/meta-oe \
  ##OEROOT##/../3rdparty/meta-openembedded/meta-multimedia \
  ##OEROOT##/../3rdparty/meta-openembedded/meta-networking \
  ##OEROOT##/../3rdparty/meta-openembedded/meta-python \
  ##OEROOT##/../meta-bsp \
  ##OEROOT##/../meta-library \
  ##OEROOT##/../meta-services \
  ##OEROOT##/../meta-apps \
  ##OEROOT##/../meta-retroarch \
  ##OEROOT##/../meta-playos \
  "
